body {
    background-image: url(../images/DiamondPattern.png);
    background-color: #a41e35;
    background-size: cover;
    background-repeat: repeat-y;
}

#content {
    background-color: ivory;
    border: solid black 1px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#contentHome {
    color: black;
    background-color:ivory;
    border: solid black 1px;
    opacity: .8;
    padding: 5px;
    bottom: 200px;
}

#btn {
    margin-right: auto;
}

.navbar {
    font-size: 16px;
}

.row.content {
    height: 626px;
}

    .row.content a {
        color: black;
    }

.sidenav {
    background-color: ivory;
    padding-top: 20px;
    height: 100%;
    border: solid black 1px;
    opacity: 0.6;
}

.sidenav:hover {
    opacity: 1;
}

table {
    color: black;
    background-color: ivory;
    border: solid black 1px;
}

th {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 15px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    margin: 0px;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

.row {
    text-align: center;
}

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #D9230F;
    }

.search-query:focus + button {
    z-index: 3;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width:100%;
}

#homeBodyContainer {
    padding: 0px;
}

#templeCLA {
    font-family: "Roboto Condensed",sans-serif;
    color: white;
    background-color: black;
    opacity: .8;
}

#templeCLA > h2, h3 {
    margin: 0px;
    
}

#templeCLA > h2 {
    opacity: 1;
}

.vdbBox {
    /*background-color: black;
    width: 20%;*/
    opacity: 1;
}

.textStroke {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#content:hover {
    opacity: 1;
}

#sysFeatures {
    display: inline;
    padding-right: 5px;
    font-size: 2em;
}