 body {
            background-color: #9E1C35;
        }

        #content {
            color: white;
        }

        .navbar {
            font-size: 16px;
            padding-bottom: 34px;
        }

        .row.content {
            height: 605px;
        }

        .row.content a {
            color: black;
        }

        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        footer {
            background-color: black;
            color: white;
            padding: 15px;
            width: 100%;
            bottom: 0px;
            position: fixed;
        }

        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }